@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 localize-content>@ViewData["Title"]</h1>
<div>
    <p localize-content>
        Thank you for confirming your email.
    </p>
</div>
