@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    var locArgs = new[] { Url.Page("./Login", null, new { culture = CultureInfo.CurrentCulture.Name }) };
}

<h1 localize-content>@ViewData["Title"]</h1>
<p localize-args="@locArgs">
    Your password has been reset. Please <a href="{0}">click here to log in</a>.
</p>
