@page
@model IndexModel
@{
    ViewData["Title"] = _loc.Text("Home page");
}

<alert view-context="ViewContext"></alert>

<div class="text-center">
    <h1 class="display-4">@_loc.Text("Welcome")</h1>
    <p>@_loc.Text("Learn about <a href='https://docs.microsoft.com/aspnet/core'>building Web apps with ASP.NET Core</a>").</p>
</div>