@page
@model ExpressLocalizationSampleProject.Pages.SampleFormModel

@{
    ViewData["Title"] = "Sample Form";
}

<h1 localize-content>@ViewData["Title"]</h1>

<form method="post" class="col-4">
    <div class="form-group">
        <label asp-for="Test.ID"></label>
        <input asp-for="Test.ID" class="form-control" localize-att-data-val-number="Please enter a valid number."/>
        <span asp-validation-for="Test.ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Test.Name"></label>
        <input asp-for="Test.Name" class="form-control" />
        <span asp-validation-for="Test.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Test.Price"></label>
        <input asp-for="Test.Price" class="form-control" />
        <span asp-validation-for="Test.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Test.Date"></label>
        <input asp-for="Test.Date" class="form-control" />
        <span asp-validation-for="Test.Date" class="text-danger"></span>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary" localize-content>Submit</button>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial.cshtml" />
    <localization-validation-scripts></localization-validation-scripts>
}